<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deadrooster.slate.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name="com.deadrooster.slate.android.provider.Provider"
            android:authorities="com.deadrooster.slate.android"
            android:exported="false" >
        </provider>

        <activity android:name="com.deadrooster.slate.android.ActivityCategoryEntryList" >
<!--              <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity
            android:name="com.deadrooster.slate.android.ActivityEntry"
            android:label="@string/title_activity_entry" >
        </activity>

        <activity
            android:name="com.deadrooster.slate.android.REntryListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.deadrooster.slate.android.REntryDetailActivity" >
        </activity>
    </application>

</manifest>
